* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #287098;
}

body {
  margin-top: 70px;
  background-color: #287098;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container, .register-form-container {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 5rem;
}

.add-book-form-container, .book-list,
.show-book-details, .update-book {
  min-height: 100vh;
  min-width: 300px;
  color: #000;
}

@media screen and (min-width: 300px) {
  .add-book-form-container, .book-list,
  .show-book-details, .update-book {
    min-width: 100px;
  }
}

label {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #287098;
}

input {
  width: 100%;
}

.text-danger {
  font-size: 1.2rem;
}