* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #287098;
}

body {
  margin-top: 70px;
  background-color: #287098;
}

.login-form-container, .register-form-container,
.user-details {
  width: 80vw;
  background-color: #fff;
}

.login-form-container, .register-form-container {
  text-align: left;
  padding: 5%;
}

.add-book-form-container, .book-list,
.show-book-details, .update-book {
  min-height: 100vh;
  min-width: 300px;
  color: #000;
}

label {
  font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #287098;
}

input {
  width: 100%;
}

.text-danger {
  font-size: 1.2rem;
}

@media screen and (min-width: 280px) and (max-width: 419px) {
  .login-form-container, .register-form-container {
    margin-left: 20px;
  }
}