@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #37383c;
  --color-secondary: #287098;
  --color-text: #000;
  --color-text-light: #666;
  --color-text-dark: #111;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-dark);
  font-family: 'Arial', sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

body {
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    darken(var(--color-primary), 3px),
    lighten(var(--color-primary), 3px)
  );
  color: var(--color-text);
  font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
  font-size: 17px;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #2e2f33;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header img {
  margin-right: auto;
}

header nav {
  margin-left: auto;
}
