header {
  margin-bottom: 50px;
}

nav {
  height: 50px;
}

nav .nav-links {
  padding-top: 1px;
}

.nav-links:hover {
  --background: #287098;
  text-decoration: underline;
  color: var(--background);
}