@tailwind base;
@tailwind components;
@tailwind utilities;
@import "daisyui";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #37383c;
  --color-secondary: #287098;
  --color-text: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #d9f0ff;
  font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

body {
  color: var(--color-text);
  font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(to top, #28292d, #105e86);
}

.logo {
  padding-top: 0;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background-color: #2e2f33;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

header img {
  margin-right: auto;
  margin-top: -20px
}

header nav {
  margin-left: auto;
  text-align: right;
  align-self: center;
}

nav {
  margin-top: -1px;
}

nav img {
  margin-top: -1;
}

.sign-in-button,
.sign-up-button {
  background-color: var(--color-secondary);
  color: var(--color-text);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

.sign-in-button:hover,
.sign-up-button:hover {
  background-color: #19191b;
}

main {
  margin-top: 80px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  .sign-in-button,
  .sign-up-button {
    padding: 0.4rem 0.8rem;
  }

  .header-container {
    flex-direction: column;
  }

  header nav {
    margin-left: 0;
    text-align: center;
  }
}
