.add-book-form-container {
  background-color: #fff;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.book-list-link {
  font-size: 20px;
}

.addbook-success {
  background-color: #14b16f;
  padding: 6px;
  border: 1.5px solid #063622;
}