.book-list {
  width: 100%;
  margin-top: 0;
  overflow: scroll;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #287098;
  filter: brightness(69%);
  margin-left: 1vh;
  padding: 1vh;
}

.book-list h2 {
  color: #fff;
}

.book-list > .container-fluid {
  width: 100%;
  padding: 2vh;
  background-color: #287098;
  filter: brightness(70%);
  margin-top: -71vh;
}

.book-list .btn {
  font-size: 20px;
}

.list {
  display: grid;
  margin-top: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  height: 50vh;
  width: 100%;
  margin-bottom: 30px;
  overflow-y: scroll;
  background-color: #287098;
  filter: brightness(85%);
}

.list-is-visible {
  margin-top: 20vh;
}

.list-visible-title {
  margin-top: 72vh;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
  }
}

@media screen and (min-width: 320px) and (max-width: 419px) {
  .list {
    margin-bottom: 10px;
  }

  .book-list {
    margin-bottom: 10%;
    margin-left: -5vh;
    padding: 0;
  }
}