.book-list {
  width: 50vw;
  height: 100vh;
  margin-top: 1%;
  margin-right: 10%;
}

.book-list h2 {
  color: #fff;
}

.show-book-list,
.fetch-book-list {
  margin-bottom: 3%;
}

.scroll-y {
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.book-list > .container-fluid {
  width: 100%;
  background-color: #287098;
  filter: brightness(85%);
  padding: 10px;
}

.book-list .btn {
  font-size: 20px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  margin-top: 10vh;
  width: 100%;
}

.list-is-visible {
  margin-top: 10vh;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
  }
}