.BookInfo > .container {
  background-color: #fff;
  width: 400px;
  border: 1px solid #000;
  margin: 0 auto;
  border-radius: 5px;
  overflow-y: scroll;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 2px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .BookInfo > .container {
    width: 100px;
  }
}

@media screen and (min-width: 481px) and (max-width: 699px) {
  .BookInfo > .container {
    width: 200px;
  }
}

@media screen and (min-width: 700px) and (max-width: 767px) {
  .BookInfo > .container {
    width: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .BookInfo > .container {
    width: 350px;
  }
}

.BookInfo > .container:first-of-type {
  margin-top: 0px;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 20px;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc > p {
  font-size: 14px;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0;
}