.book-list {
  width: calc((450px * 2));
  height: 100vh;
  margin-left: -10px;
}

.book-list h2 {
  color: #fff;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;
  width: calc((450px * 2));
}

.scroll-y {
  overflow-y: scroll;
}

.scroll-x {
  overflow-x: scroll;
}

.book-list > .container {
  width: calc((450px * 2) + 2em);
  background-color: #287098;
  filter: brightness(85%);
  padding: 10px;
}

.book-list .btn {
  font-size: 20px;
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .book-list {
    width: 200px;
    padding: 10px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
  }

  .book-list .btn {
    font-size: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
  .book-list {
    width: 300px;
    padding: 10px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
  }

  .book-list .btn {
    font-size: 12px;
  }
}