.user-details {
  background-color: #fff;
  margin-bottom: 20%;
  padding-top: 1%;
}

.user-details > p {
  font-size: 24px;
  font-weight: 200;
}

.fetch-details {
  margin-bottom: 5%;
}

.book-list-indicator {
  margin-bottom: 1%;
}