.user-details > p {
  font-size: 24px;
  font-weight: 200;
  width: calc((450px + 2em) * 2);
}

.user-details {
  padding: 15px;
  background-color: #fff;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .user-details > p {
    font-size: 12px;
    font-weight: 100;
  }

  .user-details {
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
}