.login-form-container {
  margin-top: 5rem;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}

.register-cta, .password-forgot {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.register:hover {
  text-decoration: none;
}